_______________________________________________________________________________________________________________________________

                                           Name- Anubhav Shyam Goyal.
                                           
                                           Roll no- 01.       Div- A.
                                           
                                         Sub: Datamining and Warehousing
________________________________________________________________________________________________________________________________                                           
                                           
Title : 

    Eclat (Equivalence class Transformation) and FP-Growth Algorithm.

Software/Hardware Required:

    jupyter notebook.

Theory:

    ECLAT is a depth-first search algorithm using set intersection. It is a naturally elegant algorithm suitable for both sequential as well as parallel execution with locality-enhancing properties. The ECLAT algorithm is used to perform itemset mining.

    FP Growth algorithm is an improvement to the Apriori method. A frequent pattern is generated without the need for candidate generation. FP growth algorithm represents the database in the form of a tree called a frequent pattern tree or FP tree.This tree structure will maintain the association between the itemsets.
 

Program:

In [1]:
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
from mlxtend.preprocessing import TransactionEncoder
import pandas as pd

In [2]:
dataset=[['Bread','Butter','Olive Oil','Veggies','Tomatoes','Broccoli'],
         ['Grapes','Butter','Olive Oil','Veggies','Tomatoes','Broccoli'],
         ['Bread'],
         ['Bread','Olives','Fish','Veggies','Broccoli'],
         ['Fish','Butter','Butter','Veggies','Soy Sauce','Tomatoes']
         ]

In [3]:
dataset

[['Bread', 'Butter', 'Olive Oil', 'Veggies', 'Tomatoes', 'Broccoli'],
 ['Grapes', 'Butter', 'Olive Oil', 'Veggies', 'Tomatoes', 'Broccoli'],
 ['Bread'],
 ['Bread', 'Olives', 'Fish', 'Veggies', 'Broccoli'],
 ['Fish', 'Butter', 'Butter', 'Veggies', 'Soy Sauce', 'Tomatoes']]

In [4]:
freq_itemsets=pd.DataFrame(dataset)
freq_itemsets

        0       1          2        3          4         5
0   Bread  Butter  Olive Oil  Veggies   Tomatoes  Broccoli
1  Grapes  Butter  Olive Oil  Veggies   Tomatoes  Broccoli
2   Bread    None       None     None       None      None
3   Bread  Olives       Fish  Veggies   Broccoli      None
4    Fish  Butter     Butter  Veggies  Soy Sauce  Tomatoes

In [5]:
te=TransactionEncoder()
te_ary=te.fit(dataset).transform(dataset)

df=pd.DataFrame(te_ary,columns=te.columns_)
df

,Bread,Broccoli,Butter,Fish,Grapes,Olive Oil,Olives,Soy Sauce,Tomatoes,Veggies
0,True,True,True,False,False,True,False,False,True,True
1,False,True,True,False,True,True,False,False,True,True
2,True,False,False,False,False,False,False,False,False,False
3,True,True,False,True,False,False,True,False,False,True
4,False,False,True,True,False,False,False,True,True,True

In [6]:

frequent_itemsets=apriori(df,min_support=0.6,use_colnames=True)
frequent_itemsets

   support                     itemsets
0      0.6                      (Bread)
1      0.6                   (Broccoli)
2      0.6                     (Butter)
3      0.6                   (Tomatoes)
4      0.8                    (Veggies)
5      0.6          (Broccoli, Veggies)
6      0.6           (Tomatoes, Butter)
7      0.6            (Veggies, Butter)
8      0.6          (Veggies, Tomatoes)
9      0.6  (Veggies, Tomatoes, Butter)

In [7]:
rules=association_rules(frequent_itemsets,metric='support',support_only=True,min_threshold=0.1)

In [8]:
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Broccoli),(Veggies),NaN,NaN,0.6,NaN,NaN,NaN,NaN
1,(Veggies),(Broccoli),NaN,NaN,0.6,NaN,NaN,NaN,NaN
2,(Tomatoes),(Butter),NaN,NaN,0.6,NaN,NaN,NaN,NaN
3,(Butter),(Tomatoes),NaN,NaN,0.6,NaN,NaN,NaN,NaN
4,(Veggies),(Butter),NaN,NaN,0.6,NaN,NaN,NaN,NaN
5,(Butter),(Veggies),NaN,NaN,0.6,NaN,NaN,NaN,NaN
6,(Veggies),(Tomatoes),NaN,NaN,0.6,NaN,NaN,NaN,NaN
7,(Tomatoes),(Veggies),NaN,NaN,0.6,NaN,NaN,NaN,NaN
8,"(Veggies, Tomatoes)",(Butter),NaN,NaN,0.6,NaN,NaN,NaN,NaN
9,"(Veggies, Butter)",(Tomatoes),NaN,NaN,0.6,NaN,NaN,NaN,NaN
10,"(Tomatoes, Butter)",(Veggies),NaN,NaN,0.6,NaN,NaN,NaN,NaN
11,(Veggies),"(Tomatoes, Butter)",NaN,NaN,0.6,NaN,NaN,NaN,NaN
12,(Tomatoes),"(Veggies, Butter)",NaN,NaN,0.6,NaN,NaN,NaN,NaN
13,(Butter),"(Veggies, Tomatoes)",NaN,NaN,0.6,NaN,NaN,NaN,NaN

In [9]:
rules=rules[['antecedents','consequents','support']]
rules

            antecedents          consequents  support
0            (Broccoli)            (Veggies)      0.6
1             (Veggies)           (Broccoli)      0.6
2            (Tomatoes)             (Butter)      0.6
3              (Butter)           (Tomatoes)      0.6
4             (Veggies)             (Butter)      0.6
5              (Butter)            (Veggies)      0.6
6             (Veggies)           (Tomatoes)      0.6
7            (Tomatoes)            (Veggies)      0.6
8   (Veggies, Tomatoes)             (Butter)      0.6
9     (Veggies, Butter)           (Tomatoes)      0.6
10   (Tomatoes, Butter)            (Veggies)      0.6
11            (Veggies)   (Tomatoes, Butter)      0.6
12           (Tomatoes)    (Veggies, Butter)      0.6
13             (Butter)  (Veggies, Tomatoes)      0.6

In [10]:
pip install pyfpgrowth

Collecting pyfpgrowthNote: you may need to restart the kernel to use updated packages.

  Downloading pyfpgrowth-1.0.tar.gz (1.6 MB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Using legacy 'setup.py install' for pyfpgrowth, since package 'wheel' is not installed.
Installing collected packages: pyfpgrowth
    Running setup.py install for pyfpgrowth: started
    Running setup.py install for pyfpgrowth: finished with status 'done'
Successfully installed pyfpgrowth-1.0

In [11]:
import pyfpgrowth

In [13]:
transactions=[['Bread', 'Olives', 'Butter'],
 ['Bread', 'Butter'],
 ['Fish', 'Butter', 'Veggies'],
 ['Fish', 'Butter', 'Veggies']]

In [14]:
FrequentPatterns=pyfpgrowth.find_frequent_patterns(transactions=transactions,support_threshold=0.5)
FrequentPatterns

{('Olives',): 1,
 ('Bread', 'Olives'): 1,
 ('Butter', 'Olives'): 1,
 ('Bread', 'Butter', 'Olives'): 1,
 ('Bread',): 2,
 ('Bread', 'Butter'): 2,
 ('Fish',): 2,
 ('Butter', 'Fish'): 2,
 ('Veggies',): 2,
 ('Fish', 'Veggies'): 2,
 ('Butter', 'Veggies'): 2,
 ('Butter', 'Fish', 'Veggies'): 2,
 ('Butter',): 4}

Conclusion:

       Both the algorithm are an improvement of apriori algorithm. FP growth algorithm used for finding frequent itemset in a transaction database without candidate generation. FP growth represents frequent items in frequent pattern trees or FP-tree.
ECLAT is generally used for mining of frequent item sets and to discover associations between these frequent item sets.